<app-notes description="Aprendimos a cargar un componentes internos"></app-notes>
<div class="container">
    <div class="row bootstrap snippets bootdeys">
        <div class="col-md-3"  *ngFor="let employee of employees">
            <app-admin *ngIf="employee.type==='Admin'"></app-admin>
            <app-art *ngIf="employee.type==='Art'"></app-art>
            <app-web *ngIf="employee.type==='Web'"></app-web>
            <app-manager *ngIf="employee.type==='Manager'"></app-manager>

        </div>
    </div>
</div>